.carouselContainer::before {
  content: '';
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  height: 100px; // Altura ajustada
  background: #ffffff; // Ou a cor que deseja
  transform: skewY(2deg); // Aplicando a inclinação
  z-index: -1; // Coloca atrás do conteúdo
}

.carouselContainer {
  position: relative;
  z-index: 3; // Coloca o conteúdo acima do pseudo-elemento

  h1 {
    font-family: "Rokkitt", serif;
    font-weight: 800;
  }

  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}