.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom,
      rgba(35, 38, 56, 1) 0%,
      /* #232638 com 100% de opacidade */
      rgba(35, 38, 56, 0.5) 40%,
      /* #232638 com 50% de opacidade */
      rgba(35, 38, 56, 0) 100%
      /* #232638 com 0% de opacidade */
    );
  pointer-events: none;
  z-index: 0;
}

.headerContent {
  position: relative;
  z-index: 1;
  transform: translateZ(0);
}

.headerTitle {
  font-family: "Rokkitt", serif;
  font-weight: 800;
}

.header {
  position: relative;
  overflow: hidden;
}