.teamContainer::before {
  content: '';
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  height: 100px; // Altura ajustada
  background: #232638; // Ou a cor que deseja
  transform: skewY(2deg); // Aplicando a inclinação
  z-index: -1; // Coloca atrás do conteúdo
}

.teamContainer {
  position: relative;

  h1 {
    font-family: "Rokkitt", serif;
    font-weight: 800;
  }
}