@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');
@import "material-symbols";

@font-face {
  font-family: "Rokkit", serif;
  src: url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');
}

:root {
  --blue: '#4E93BC';
  --redlight: '#DA6666';
  --reddark: '#9C4E4E';
  --graydark: '#434343';
  --black: #232638;
  --gray: #595959;
  --graylight: '#FFFFFF';
  --background: #ffffff;
  --foreground: var(--graydark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  color: var(--graydark);
  background: var(--background);
  font-family: "Rokkit", serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}