@import url(./globals.css);

footer * {
    font-size: large;
    color: #fff;
}

* {
    transition: all;
}

header,
footer,
section:not(#testimonials) {
    padding-left: 3rem;
    padding-right: 3rem;
}

section#testimonials {
    color: #fff;
    scroll-snap-align: start;
}